<!DOCTYPE html>
<html>
    <head>
        <title>Case</title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1><%=training.name%></h1>
        <%console.log(training);%>
        <% for (let i = 0; i < training.objectList.length; i++){%>
            <%if (training.objectList[i].alreadyKnown){%>
        <audio controls="controls" src="<%=training.objectList[i].audioData%>"></audio>
        <%console.log(training.objectList[i].audioData)%>
        <p><%=training.objectList[i].randomWord%></p>
        </br>
        <%}}%>

        <div class="container">
            <a href="/trainings" method="POST" class="button">zurück</a>
            <a href="/trainings/<%=training.name%>/send" method="POST" class="button">starten</a>
            <a href="/trainings/<%=training.name%>/delete" method="POST" class="button">löschen</a>
        </div>
    </body>
</html>